.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card-list__loader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 30px;
}