.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}

.card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #B8B8B8;
  padding-top: 10px;
  height: 140px;
}

.card__info {
  display: flex;
  flex-direction: column;
  background: var(--black);
  color: var(--white);
  padding: 10px;
  min-height: 150px;
}

.card__tag {
  font-weight: 300;
  font-size: 11px;
  line-height: 15px;
  margin-bottom: 3px;
  color: #dedede;
}

.card__title {
  font-weight: 600;
  font-size: 15px;
  line-height: 110%;
  margin-bottom: 8px;
}

.card__author {
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
}

.card__footer {
  display: flex;
  margin-top: auto;
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 32px;
  background: none;
  border: 1px solid var(--white);
  border-radius: 6px;
  cursor: pointer;
}

.card__button--active {
  background: var(--white);
}