.search {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-bottom: 30px;
}

.search__wrapper {
  display: flex;
  position: relative;
  flex: 1;
}

.search__wrapper img {
  position: absolute;
  left: 10px;
  top: 18px;
}

.search__input {
  padding: 15px 30px 15px 50px;
  flex: 1;
  border: none;
  border-radius: 5px;
  background: #dedede;
  color: #252525;
  font-size: 14px;
}

.search__input::placeholder {
  color: #495050;
}

.search__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: var(--black);
  cursor: pointer;
}